* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brygada 1918', sans-serif;
}

body {
    background-color:black;
}

h1 {
    color: white;
    text-align: center;    
    margin: 5rem 0 1rem 0;
}

section{
    background-color: #757575;
    width: 50rem;
    height: 25rem;
    left: 5rem;
    border-radius:3%;
    text-align: center;
    margin: auto;
}


input {    
    border-color: rgb(34, 29, 29);
    border-width: 0.1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    margin-top: 9.5rem;
}

#linkBox {
    text-align: center;
    font-size: 1rem;
    background-image: linear-gradient(gray, white);
    width: 32rem;
}


#shortButton {
    background-color: #EEEE;
    width: 6rem;    
    margin-left: 1.2rem;
}

#shortButton:hover {
    background-color: white;
    opacity: 1;
    cursor: pointer;
}

#loading {
    display: inline-block;

    height: 3rem;
    width: 3rem;
    color: #757575;
    border: 2px solid;
    border-top-color: #757575;
    border-radius: 50%;
    
    animation: 1s loader infinite;
}

@keyframes loader{
    to {
        transform: rotate(360deg);
    }
}


div#shorterLink {
    margin-top: 3rem;
    color: #E0E0E0;
    font-size: 1.3rem;
}