* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
    background-color:black;
}

section{
    background-color: rgb(109, 106, 146);
    width: 800px;
    height: 500px;
    top: 90px;
    left: 80px;
    border-radius:5%;
    text-align: center;
    margin: auto;
}
h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

input {    
    border-color: rgb(34, 29, 29);
    border-width: 1px;
    display: inline-block;
    height: 40px;
}

input#linkBox {
    background-image: linear-gradient(gray, white);
    margin-top: 250px;
    border-radius: 10px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

input#shortButton {
    background-color: rgb(106, 106, 202);
    margin-top: 250px;
    width: 100px;
    border-radius: 10px;
    margin-left: 20px;
}

input#shortButton:hover {
    background-color: white;
}

/**div#loading {
    height: 50px;
    width: 50px;
    display: inline-block;
    color: rgb(250, 250, 250,0.3);
    border: 2px solid;
    border-top-color: white;
    border-radius: 50%;
    animation: 1s loader infinite ease-in-out;
}

@keyframes loader{
    to {
        transform: rotate(360deg);
    }
}*/

div#shorterLink {
    margin-top: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}